////////////////////////////
//  Global Button Styles  //
////////////////////////////

@mixin mainButton($bgColor: $color-red-400, $textColor: $color-light, $hoverBgColor: $color-green-400, $hoverTextColor: $color-light) {
  @extend .text-main;
  padding: $spacer-xs $spacer-lg;
  background-color: $bgColor;
  color: $textColor;
  border-radius: $radius;
  cursor: pointer;

  i {
    margin-right: $spacer-sm;
  }

  &:hover {
    background-color: $hoverBgColor;
    color: $hoverTextColor;
  }
}

@mixin secondaryButton($borderColor: $color-green-400, $textColor: $color-green-500, $hoverBorderColor: $color-green-500, $hoverTextColor: $color-green-500) {
  @extend .text-main;
  padding: $spacer-xs $spacer-lg;
  background-color: $color-light;
  color: $textColor;
  border: 1px solid $borderColor;
  border-radius: $radius;
  cursor: pointer;

  i {
    margin-right: $spacer-sm;
  }

  &:hover {
    border-color: $hoverBorderColor;
    color: $hoverTextColor;
  }
}
