// While the FontAwesome fonts are present in the new COPFGM site,
// the CSS is not. To prevent adding a huge CSS file that's not really
// needed, I'm adding just the icon styles.
.icon {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 1rem;

  &:before {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}

.icon.icon-globe-africa:before {
  content: '\f57c';
}

.icon.icon-list:before {
  content: '\f03a';
}

.icon.icon-comments:before {
  content: '\f086';
}

.icon.icon-close:before {
  content: '\f00d';
}

.icon.icon-search:before {
  content: '\f002';
}

.icon.icon-caret-down:before {
  content: '\f0d7';
}

.icon.icon-copy:before {
  content: '\f0c5';
}

.icon.icon-arrow-left:before {
  content: '\f060';
}
