//////////////////////////////
//   Responsive modifiers   //
//////////////////////////////

@mixin tablet() {
  @media (max-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin custom($breakpoint: $tablet-breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}