/////////////////////
//   Text styles   //
/////////////////////

.text-main {
  font-size: $t-02;
  font-weight: 700;
  color: $color-gray-800;
}

.text-heading-lg {
  font-size: $t-04;
  font-weight: 700;
  color: $color-red-400;
}

.text-heading-sm {
  font-size: $t-03;
  font-weight: 700;
}

.text-tag {
  font-size: $t-01;
  font-weight: 700;
}

@include tablet() {
  .text-main {
    font-size: $t-tablet-02;
  }
  
  .text-heading-lg {
    font-size: $t-tablet-04;
  }
  
  .text-heading-sm {
    font-size: $t-tablet-03;
  }
  
  .text-tag {
    font-size: $t-tablet-01;
  }
}

@include mobile() {
  .text-main {
    font-size: $t-mobile-02;
  }
  
  .text-heading-lg {
    font-size: $t-mobile-04;
  }
  
  .text-heading-sm {
    font-size: $t-mobile-03;
  }
  
  .text-tag {
    font-size: $t-mobile-01;
  }
}