/////////////////////
//   Breakpoints   //
/////////////////////

$tablet-breakpoint: 1200px;
$mobile-breakpoint: 768px;
$modal-maxwidth: 1190px;
$column-maxwidth: 730px;

////////////////////
//     Colors     //
////////////////////

$color-red-400: #BE292E;
$color-red-100: #F8E9EA;

$color-blue-400: #186DFC;

$color-green-500: #4B7C7B;
$color-green-400: #19908C;
$color-green-100: #F7F9FB;

$color-gray-800: #121212;
$color-gray-500: #737373;
$color-gray-400: #929292;

$color-light: #FFFFFF;
$color-dark: #000000;

/////////////////////
//     Spacers     //
/////////////////////

$spacer-xxs: 4px;
$spacer-xs: 10px;
$spacer-sm: 16px;
$spacer-md: 30px;
$spacer-lg: 45px;
$spacer-xl: 90px;
$spacer-xxl: 160px;

////////////////////
//   Font Sizes   //
////////////////////

$t-root: 15px;

$t-01: 0.867 * $t-root;  // 13px
$t-02: 1 * $t-root;      // 15px
$t-03: 1.33 * $t-root;   // 20px
$t-04: 2.4 * $t-root;    // 36px

$t-tablet-01: 0.867 * $t-root;  // 13px
$t-tablet-02: 1 * $t-root;      // 15px
$t-tablet-03: 1.33 * $t-root;   // 20px
$t-tablet-04: 2.4 * $t-root;    // 36px

$t-mobile-01: 0.867 * $t-root;  // 13px
$t-mobile-02: 1 * $t-root;      // 15px
$t-mobile-03: 1.33 * $t-root;   // 20px
$t-mobile-04: 2.4 * $t-root;    // 36px

//////////////////
//     Misc     //
//////////////////

$radius: 1px;