//////////////////////
//  Form Overrides  //
//////////////////////

#gams-map {
  form label {
    @extend .text-heading-sm;
    text-transform: uppercase;
    color: $color-gray-800;
    white-space: nowrap;
  }

  .form-group {
    margin-bottom: $spacer-xs + $spacer-sm;

    .form-control {
      border-radius: $radius;
      border: 1px solid $color-gray-400;
      background-color: $color-green-100;
      padding: 0;
      height: auto;
    }

    .form-control--select-container {
      position: relative;

      select {
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
      }

      .form-control__icon {
        position: absolute;
        top: 0;
        right: 0;
        width: $spacer-lg;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $spacer-md;
        color: $color-green-400;
        pointer-events: none;
      }
    }
  }

  .form-group--inline {
    display: flex;

    label {
      margin-right: $spacer-sm * 2;
    }
  }

  .vs--single .vs__selected {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $spacer-sm;
    margin: 0;
    padding: 0;
    color: $color-gray-500;
  }
  
  .vs__dropdown-toggle {
    border-radius: $radius;
    border: 1px solid $color-gray-400;
    background-color: $color-green-100;
    padding: 0;

    .vs__search {
      border: none;
    }

    .vs__actions{
      padding: $spacer-sm;
      padding: 8px;
      background-color: $color-green-400;
      position: relative;

      .vs__clear {
        position: absolute;
        left: -1 * ($spacer-sm + $spacer-xs);
        z-index: 2;
      }

      .vs__open-indicator {
        fill: $color-light;
      }
    } 
  }

  .vs__dropdown-menu {
    border-radius: $radius;
    border: 1px solid $color-green-400;
    background-color: $color-green-100;
    z-index: 1010;
  }

  .vs__dropdown-option {
    @extend .text-main;
    color: $color-gray-500;
    padding: ($spacer-sm - 3px) $spacer-sm;
    transition: background 0.4s, color 0.4s;

    &.vs__dropdown-option--highlight {
      background-color: rgba($color-green-400, 0.3);
      color: $color-gray-800;
    }
  }

  .vs--open {
    .vs__dropdown-toggle {
      border-color: $color-green-400;
    }
  }

  .submit-button  {
    @include mainButton();
  }
}