///////////////////////
//  Modal Overrides  //
///////////////////////

#gams-map {
  .modal {
    // Move the modal above the modal backdrop, which has a 
    // z-index of 10020
    // These numbers are not just arbitrarily high; they are needed
    // to move stuff above the header, which has a z-index of 10010
    z-index: 10030;

    .modal-dialog {
      width: 90%;
      max-width: $modal-maxwidth;
      margin-right: auto !important;
      margin-left: auto !important;

      .modal-content {
        border-radius: $radius;
        box-shadow: none;
        border: none;
        padding: $spacer-md + $spacer-xs;

        .modal-header,
        .modal-body,
        .modal-footer {
          border: none;
        }

        .modal-header {
          position: relative;
          padding-top: $spacer-sm * 2;
          padding-bottom: $spacer-md;

          &:before {
            content: '';
            display: block;
            width: $spacer-xl;
            height: $spacer-xxs;
            background-color: $color-red-400;
            position: absolute;
            top: 0;
          }

          button.close {
            position: absolute;
            top: 0;
            right: 0;
            font-size: $t-04;
            color: $color-green-400;
            opacity: 1;
          }
        }

        .modal-title {
          @extend .text-heading-lg;
        }

        .modal-description {
          @extend .text-main;
          font-style: italic;
          max-width: $column-maxwidth;
          margin-top: $spacer-sm;

          a {
            color: $color-green-400;
          }
        }
      }
    }
  }
}
