<template>
  <div class="gams-content-modal">
    <div class="modal fade" id="gamsContentModal" tabindex="-1" role="dialog" aria-labelledby="gamsContentModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close" aria-hidden="true"></i></button>
            <h4 class="modal-title" id="gamsContentModalLabel">{{ content.title }}</h4>
            <div class="modal-description" v-html="content.intro"/>
          </div>
          <div class="modal-body">
            <div class="gams-content-modal__filters">
              <filter-form @search="updateResults" @switch="switchMode" :data="appData" :mode="mode"/>
            </div>
            <div class="gams-content-modal__content">
              <component :is="view" :results="results" :points="points" :taxonomies="taxonomies" ref="results"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import filterForm from '@/components/filterForm.vue'
import listView from '@/components/listView.vue'
import mapView from '@/components/mapView.vue'

export default {
  components: {
    filterForm,
    listView,
    mapView
  },
  props: {
    config: {
      type: Object,
      required: true
    },
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      results: [],
      points: [],
      taxonomies: {
        countries: [],
        professions: [],
        sectors: [],
        genders: []
      }
    }
  },
  computed: {
    mode() {
      if(this.config.mode) {
        return this.config.mode
      } else {
        return ""
      }
    },
    appData() {
      return this.data;
    },
    view() {
      if(this.mode == "map") {
        // map view
        return "mapView"
      } else {
        // list view
        return "listView"
      }
    },
    content() {
      if(this.mode == "map") {
        // map view
        return {
          title: this.$t('map_view.header'),
          intro: this.$t('map_view.intro')
        }
      } else {
        // list view
        return {
          title: this.$t('list_view.header'),
          intro: this.$t('list_view.intro')
        }
      }
    }
  },
  methods: {
    updateResults(results) {
      this.results = results.members
      this.points = results.points
    },
    getCountries() {
      return this.data.taxonomies.countries.keyed_by_id
    },
    getProfessions() {
      return this.data.taxonomies.professions.keyed_by_id
    },
    getSectors() {
      return this.data.taxonomies.professional_sectors.keyed_by_id
    },
    getGenders() {
      return this.data.taxonomies.genders.keyed_by_id
    },
    resetContent() {
      if(this.mode == "map") {
        this.$refs.results.verifyAndReset()
      }
    },
    switchMode() {
      this.$emit("switch", {mode: this.mode})
    }
  },
  watch: {
    data: function() {
      this.taxonomies.countries = this.getCountries()
      this.taxonomies.professions = this.getProfessions()
      this.taxonomies.sectors = this.getSectors()
      this.taxonomies.genders = this.getGenders()
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';
@import '@/styles/modal-overrides.scss';
</style>
