<template>
  <div class="gams-filter-form">
    <form class="row clearfix">
      <!-- <div class="form-group col-lg-3 col-sm-6">
        <label for="regionInput">{{ $t('filters.region_label') }}</label>
        <v-select value="id" :label="optionLabel" :options="taxonomies.regions" v-model="filters.region"/>
      </div> -->
      <div class="form-group col-md-4 col-sm-6">
        <label for="countryInput">{{ $t('filters.country_label') }}</label>
        <v-select value="id" :label="optionLabel" :options="taxonomies.countries" v-model="filters.country"/>
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="professionInput">{{ $t('filters.profesion_label') }}</label>
        <v-select value="id" :label="optionLabel" :options="taxonomies.professions" v-model="filters.profession"/>
      </div>
      <div class="form-group col-md-4 col-sm-12">
        <label for="sectorInput">{{ $t('filters.sector_label') }}</label>
        <v-select value="id" :label="optionLabel" :options="taxonomies.sectors" v-model="filters.sector"/>
      </div>
      <div class="form-group form-group--submit col-md-12 col-sm-12">
        <button class="switch-button" @click.prevent="switchViewFrom()">{{ $t(`filters.switch_label.${mode}`) }}</button>
        <button type="submit" class="btn btn-default submit-button" @click.prevent="filterResults">{{ $t('filters.action_label') }} <i class="icon icon-search"></i></button>
      </div>
    </form>
  </div>
</template>

<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';

export default {
  components: {
    vSelect
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    mode: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      taxonomies: {
        countries: [],
        professions: [],
        sectors: []
      },
      filters: {
        country: '',
        profession: '',
        sector: ''
      },
      results: [],
      points: []
    }
  },
  computed: {
    optionLabel() {
      return `name_${this.$i18n.locale}`
    },
    hasCountryFilter() {
      if(typeof this.filters.country === "object") {
        return this.filters.country != undefined
      }
      return false
    },
    hasProfessionFilter() {
      if(typeof this.filters.profession === "object") {
        return this.filters.profession != undefined
      }
      return false
    },
    hasSectorFilter() {
      if(typeof this.filters.sector === "object") {
        return this.filters.sector != undefined
      }
      return false
    },
    results_ids() {
      return this.results.map(function(member) {
        return member.id
      }, this)
    }
  },
  methods: {
    filterResults() {
      this.results = this.data.members
      this.points = this.data.map_points
      if(this.hasCountryFilter) {
        // console.log("Filtering by Country")
        this.results = this.results.filter(function(member){
          return member.country_id == this.filters.country.id
        },this)
      }
      if(this.hasProfessionFilter) {
        // console.log("Filtering by Profession")
        this.results = this.results.filter(function(member){
          return member.profession_id == this.filters.profession.id
        },this)
      }
      if(this.hasSectorFilter) {
        // console.log("Filtering by Sector")
        this.results = this.results.filter(function(member){
          return member.professional_sector_ids.includes(this.filters.sector.id)
        },this)
      }
      if(this.hasCountryFilter || this.hasProfessionFilter || this.hasSectorFilter) {
        this.points = this.filterPoints()
      }
      this.$emit("search", {members: this.results, ids: this.results_ids, points: this.points})
    },
    filterPoints() {
      return this.points.filter(function(point){
        var included_points = point.member_ids.filter(function(id){
          return this.results_ids.includes(id)
        }, this)
        if(included_points.length > 0) {
          point.member_ids = included_points
          return true
        }
        return false
      }, this)
    },
    getCountries(match) {
      return this.data.taxonomies.countries.flat.sort(function(current, next){
        if (current[match] > next[match]) {
          return 1;
        }
        if (current[match] < next[match]) {
          return -1;
        }
        return 0;
      })
    },
    getProfessions(match) {
      return this.data.taxonomies.professions.flat.sort(function(current, next){
        if (current[match] > next[match]) {
          return 1;
        }
        if (current[match] < next[match]) {
          return -1;
        }
        return 0;
      })
    },
    getSectors(match) {
      return this.data.taxonomies.professional_sectors.flat.sort(function(current, next){
        if (current[match] > next[match]) {
          return 1;
        }
        if (current[match] < next[match]) {
          return -1;
        }
        return 0;
      })
    },
    switchViewFrom() {
      this.$emit("switch")
    }
  },
  watch: {
    data: function() {
      this.taxonomies.countries = this.getCountries(this.optionLabel)
      this.taxonomies.professions = this.getProfessions(this.optionLabel)
      this.taxonomies.sectors = this.getSectors(this.optionLabel)
      this.filterResults()
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';
@import '@/styles/form-overrides.scss';

.form-group--submit {
  display: flex;
  justify-content: flex-end;

  .submit-button {
    padding: $spacer-sm ($spacer-lg + $spacer-md) !important;

    i {
      margin-right: 0 !important;
      margin-left: $spacer-sm;
    }
  }

  .switch-button {
    @include secondaryButton();
    text-transform: uppercase;
    margin-right: ($spacer-xs * 2) + $spacer-xxs;
  }
}

@include tablet() {
  .form-group--submit {
    button {
      flex-grow: 1;
    }
  }
}

@include mobile() {
  .form-group--submit {
    flex-flow: column;

    button {
      margin-right: 0 !important;
      margin-bottom: ($spacer-xs * 2) + $spacer-xxs;
    }
  }
}
</style>
