<template>
  <div class="gams-map-intro">
    <div class="gams-map-intro__header">
      <h3 class="gams-map-intro__title">
        {{ $t('launcher.header') }}
      </h3>
    </div>
    <div class="gams-map-intro__main">
      <div class="row">
        <div class="col-md-8">
          <div class="gams-map-intro__text-column" v-html="$t('launcher.intro')"/>
        </div>
        <div class="col-md-4">
          <div class="gams-map-intro__image-column">
            <img :src="mapImage" alt="Map preview" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="gams-map-intro__menu">
      <ul class="nav nav-pills">
        <li>
          <a class="gams-button" @click="launch('map')" data-toggle="modal" data-target="#gamsContentModal" data-backdrop="static"><i class="icon icon-globe-africa" ></i> {{ $t('launcher.map_button') }}</a>
        </li>
        <li>
          <a class="gams-button" @click="launch('list')" data-toggle="modal" data-target="#gamsContentModal" data-backdrop="static"><i class="icon icon-list"></i> {{ $t('launcher.list_button') }}</a>
        </li>
        <li>
          <a :href="$t('launcher.registration_form')" class="gams-button" target="_blank"><i class="icon icon-comments"></i> {{ $t('launcher.form_button') }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import mapImage from "raw-loader!@/assets/map.txt"

export default {
  data() {
    return {
      mapImage
    }
  },
  methods: {
    launch(mode) {
      this.$emit("launch", {mode: mode})
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';

.gams-map-intro__header {
  margin-bottom: $spacer-md + $spacer-xxs;
}

.gams-map-intro__title {
  @extend .text-heading-lg;
  margin-bottom: 0;
}

.gams-map-intro__text-column {
  @extend .text-main;

  p {
    margin-bottom: $spacer-md + $spacer-xs;
  }
}

.gams-map-intro__image-column {
  display: flex;
  justify-content: center;
}

.gams-map-intro__menu {
  margin-top: $spacer-sm;
  clear:both;
  &:before {
    content: ' ';
  }

  ul.nav.nav-pills {
    margin: 0;

    li {
      margin-right: $spacer-md;

      .gams-button {
        @include mainButton();
      }
    }
  }
}

@include tablet() {
  .gams-map-intro__menu {
    margin-top: $spacer-md;

    ul.nav.nav-pills {
      display: flex;

      li {
        float: none;
        flex-grow: 1;
        margin-left: $spacer-sm;
        margin-right: $spacer-sm;
        text-align: center;
      }
    }
  }
}

@include mobile() {
  .gams-map-intro__menu {
    ul.nav.nav-pills {
      flex-flow: column;

      li {
        margin-bottom: $spacer-sm;
      }
    }
  }
}
</style>
