<template>
  <div class="gams-list-view">
    <div class="gams-list-view__header">
      <div class="gams-list-view__sort-by-filter">
        <form>
          <div class="form-group form-group--inline">
            <label for="sortInput">{{ $t('filters.sorting_label') }}</label>
            <div class="form-control form-control--select-container gams-list-view__sort-select">
              <select name="sort" id="sortInput" v-model="sorting" placeholder="Sort by">
                <option v-for="option in sortingOptions" :value="option.code" :key="option.code">{{ option[optionLabel] }}</option>
              </select>
              <div class="form-control__icon">
                <i class="icon icon-caret-down"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="gams-list-view__body">
      <member-card v-for="member in results" :key="member.id" :data="member" :taxonomies="taxonomies"/>
      <div class="gams-list-view__empty" v-if="isEmptyResults">
        {{ $t('list_view.no_results_label') }}
      </div>
    </div>
  </div>
</template>

<script>
import memberCard from '@/components/memberCard.vue'
import sortingOptions from "@/config/sort_options.json"

export default {
  components: {
    memberCard
  },
  props: {
    results: {
      type: Array,
      required: true
    },
    points: {
      type: Array,
      required: true
    },
    taxonomies: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      sorting: "",
      sortingOptions
    }
  },
  computed: {
    optionLabel() {
      return `name_${this.$i18n.locale}`
    },
    isSortingFilterNull() {
      if(typeof this.sorting === "object") {
        return this.sorting == undefined
      }
      return false
    },
    isEmptyResults() {
      return this.results.length < 1
    }
  },
  methods: {
    defineDefaultSorting() {
      var default_sorting = this.sortingOptions.find(function(){return true})
      this.sorting = default_sorting.code
    },
    sortResults(match) {
      var getCountryLabel = this.getCountryLabel
      this.results.sort(function(current, next){
        // Get values
        var current_val = ''
        var next_val = ''
        if(match == "country_id") {
          current_val = getCountryLabel(current[match])
          next_val = getCountryLabel(next[match])
        } else {
          current_val = current[match]
          next_val = next[match]
        }
        // Compare
        if (current_val > next_val) {
          return 1;
        }
        if (current_val < next_val) {
          return -1;
        }
        return 0;
      })
    },
    orderSortingOptions(match) {
      this.sortingOptions.sort(function(current, next){
        if (current[match] > next[match]) {
          return 1;
        }
        if (current[match] < next[match]) {
          return -1;
        }
        return 0;
      })
    },
    getCountryLabel(id) {
      return this.taxonomies.countries[id][this.optionLabel]
    }
  },
  watch: {
    sorting: function() {
      if(this.isSortingFilterNull) {
        this.defineDefaultSorting()
      }
      this.sortResults(this.sorting)
    }
  },
  beforeUpdate() {
    this.sortResults(this.sorting)
  },
  mounted() {
    this.defineDefaultSorting()
    this.orderSortingOptions(this.optionLabel)
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';
@import '@/styles/form-overrides.scss';

.gams-list-view__header {
  border-bottom: $spacer-xxs solid $color-green-400;
}

.gams-list-view__sort-select {
  width: 255px;
}

.gams-list-view__empty {
  width: max-content;
  margin-top: $spacer-xs + $spacer-sm;
  margin-left: auto;
  margin-right: auto;
  padding: $spacer-md;
  border: 1px solid $color-red-400;
  background-color: $color-red-100;
  color: $color-gray-800;
  font-style: italic;
  box-shadow: 0px 5px 15px 0px rgba($color-dark, 20%);
}

</style>
