<template>
  <div class="gams-map-view">
    <div class="gams-map-view__map" v-if="!showPointDetails">
      <l-map ref="membersMap" :zoom="zoom" :center="center" :options="mapOptions" @ready="configureMap">
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-marker v-for="(point, index) in points" :key="index" :lat-lng="getLatLong(point.lat, point.lng)" @click="openPointList(point)">
          <l-tooltip :options="{ permanent: true}">
            {{ point.member_ids.length }}
          </l-tooltip>
        </l-marker>
      </l-map>
      <div class="gams-map-view__empty" v-if="isEmptyResults">
        {{ $t('list_view.no_results_label') }}
      </div>
    </div>
    <div class="gams-map-view__details" v-if="showPointDetails">
      <div class="gams-map-view__details-header">
        <div class="gams-map-view__details-label">{{ detailsLabel }}</div>
        <a class="gams-map-view__return-action" @click.prevent="backToMap"><i class="icon icon-arrow-left"></i> {{ $t('map_view.return_label') }}</a>
      </div>
      <div class="gams-map-view__details-list">
        <point-list-view :results="results" :mask="detailsMask" :taxonomies="taxonomies"/>
      </div>
    </div>
  </div>
</template>

<script>
import { latLng } from "leaflet";
import pointListView from '@/components/pointListView.vue'

export default {
  components: {
    pointListView
  },
  props: {
    results: {
      type: Array,
      required: true
    },
    points: {
      type: Array,
      required: true
    },
    taxonomies: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      // This URL depends on the maptiler service associated with the account noel@matrushka.com.mx
      // If for any reason the account needs to be changed, we need to change the key too.
      url: 'https://api.maptiler.com/maps/voyager/256/{z}/{x}/{y}.png?key=DtW4TcWuqrBCA5ts1zcB',
      zoom: 2,
      center: [0, 0],
      mapOptions: {
        zoomSnap: 1,
        maxZoom: 9,
        minZoom: 2
      },
      attribution: '<a href="https://carto.com/" target="_blank">&copy; CARTO</a> <a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
      showPointDetails: false,
      detailsLabel: "",
      detailsMask: []
    };
  },
  computed: {
    isEmptyResults() {
      return this.results.length < 1
    }
  },
  methods: {
    configureMap() {
      var map = this.$refs.membersMap.mapObject
      setTimeout(function(){
        map.invalidateSize()
      }, 250);
    },
    getLatLong(Lat, Long) {
      return latLng(Lat, Long)
    },
    openPointList(point) {
      this.showPointDetails = true
      this.detailsLabel = point.formatted_address
      this.detailsMask = point.member_ids
    },
    backToMap() {
      this.showPointDetails = false
    },
    clearMap() {
      var map = this.$refs.membersMap.mapObject
      map.setView([0,0],2)
    },
    verifyAndReset() {
      if(this.showPointDetails) {
        this.backToMap()
      }
    }
  },
  watch: {
    points: function() {
      this.backToMap()
      this.clearMap()
    }
  },
  mounted() {
    this.verifyAndReset()
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';
@import '@/styles/form-overrides.scss';

.gams-map-view__map {
  width: 100%;
  height: 550px;
  position: relative;
}

.gams-map-view__details-header {
  // border-bottom: $spacer-xxs solid $color-green-400;
  padding-bottom: $spacer-sm;
}

.gams-map-view__details-label {
  @extend .text-heading-sm;
}

.gams-map-view__return-action {
  color: $color-green-400;
  cursor: pointer;
}

.gams-map-view__empty {
  width: max-content;
  position: absolute;
  top: $spacer-xs + $spacer-sm;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  padding: $spacer-md;
  border: 1px solid $color-red-400;
  background-color: $color-red-100;
  color: $color-gray-800;
  font-style: italic;
  box-shadow: 0px 5px 15px 0px rgba($color-dark, 20%);
}

</style>
