<template>
  <div class="gams-member-card" v-if="showMember">
    <div class="gams-member-card__inner">
      <div class="gams-member-card__header">
        <div class="gams-member-card__name">
          <span>{{ name }}</span>
        </div>
        <div class="gams-member-card__gender">
          <span>{{ gender }}</span>
        </div>
      </div>
      <div class="gams-member-card__body">
        <div class="gams-member-card__credentials">
          <span v-for="sector in sectors" :key="sector" class="gams-member-card__credentials-tag">{{ sector }}</span>
          <span class="gams-member-card__credentials-tag gams-member-card__credentials-tag--profession">{{ profession }}</span>
        </div>
        <div class="gams-member-card__organization">
          <span>{{ institution }}</span>
        </div>
        <div class="gams-member-card__contact" v-if="showContact">
          <span class="gams-member-card__contact-item" v-if="email"><a :href="'mailto:' + email">{{ email }}</a></span>
          <span class="gams-member-card__contact-item" v-if="telephone">{{ telephone }}</span>
        </div>
        <div class="gams-member-card__contact" v-else>
          <span class="gams-member-card__contact-item"><a href="mailto:cop.mgf@gmail.com">{{ $t('member.moderator_contact') }}</a></span>
        </div>
      </div>
      <div class="gams-member-card__footer">
        <div class="gams-member-card__location">
          <span>{{ location }}</span>
        </div>
        <div class="gams-member-card__actions">
          <button class="gams-member-card__copy-button" @click="copyInfo">{{ $t('member.copy_label') }} <i class="icon icon-copy"></i></button>
        </div>
      </div>
      <div class="gams-member-card__hidden" aria-hidden="true">
        <textarea :name="plainTextId" :id="plainTextId" class="gams-member-card__plain-text" v-model="plainText" readonly/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    taxonomies: {
      type: Object,
      required: true
    }
  },
  computed: {
    name() {
      return this.data.family_name + ", " + this.data.given_name
    },
    gender() {
      return this.taxonomies.genders[this.data.gender_id][this.optionLabel]
    },
    sectors() {
      return this.data.professional_sector_ids.map(function(sector_id){
        return this.taxonomies.sectors[sector_id][this.optionLabel]
      }, this)
    },
    profession() {
      return this.taxonomies.professions[this.data.profession_id][this.optionLabel]
    },
    institution() {
      return this.data.institution
    },
    email() {
      return this.data.email
    },
    telephone() {
      return this.data.telephone
    },
    location() {
      return this.data.city + ", " + this.data.state + ". " + this.taxonomies.countries[this.data.country_id ][this.optionLabel]
    },
    optionLabel() {
      return `name_${this.$i18n.locale}`
    },
    showMember() {
      return this.data.display_key != "no"
    },
    showContact() {
      return this.data.display_key == "yes"
    },
    plainText() {
      var public_data = `${this.name}: ${this.gender}, ${this.sectors.join(', ')}, ${this.profession}, ${this.institution}.`
      var private_data = `${this.email}, ${this.telephone}.`
      var location_data = `${this.location}.`
      if(this.showContact) {
        return `${public_data} ${private_data} ${location_data}`
      } else {
        return `${public_data} ${location_data}`
      }
    },
    plainTextId() {
      return "plainText" + this.data.id
    }
  },
  methods: {
    copyInfo() {
      var info = document.getElementById(this.plainTextId)
      info.select()
      info.setSelectionRange(0, 99999); /*For mobile devices*/
      document.execCommand("copy")
      console.log(this.$t('member.copy_done', {name: this.name}))
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/main.scss';

.gams-member-card {
  padding-top: ($spacer-xs * 2) + $spacer-xxs;
  padding-bottom: ($spacer-xs * 2) + $spacer-xxs;
  border-bottom: 1px solid $color-gray-400;
}

.gams-member-card__header {
  display: flex;
  align-items: baseline;
  margin-bottom: $spacer-xxs;
}

.gams-member-card__name {
  @extend .text-heading-sm;
  margin-right: $spacer-sm;
  color: $color-gray-800;
}

.gams-member-card__credentials {
  display: flex;
}

.gams-member-card__credentials-tag {
  border-radius: $spacer-xxs;
  background: rgba($color-green-400, 0.3);
  padding: $spacer-xxs $spacer-xs;
  margin-right: $spacer-xxs * 2;
  color: $color-gray-800;
}

.gams-member-card__contact-item {
  margin-right: $spacer-xxs * 2;

  a {
    color: $color-blue-400;
  }
}

.gams-member-card__footer {
  display: flex;
  margin-top: $spacer-xxs;
  align-items: center;
}

.gams-member-card__location {
  color: $color-gray-800;
  flex-grow: 1;
}

.gams-member-card__copy-button {
  background-color: $color-green-400;
  border: none;
  border-radius: $spacer-xxs;
  color: $color-light;
  padding: $spacer-xs $spacer-sm;
}

.gams-member-card__hidden {
  overflow: hidden;
  position: relative;

  & > * {
    position: absolute;
  }
}

</style>
