<template>
  <div id="gams-map">
    <launcher @launch="openModal"/>
    <content-modal :config="modalConfig" :data="appData" @switch="switchModal" ref="modal"/>
  </div>
</template>

<script>
import launcher from './components/launcher.vue'
import contentModal from './components/contentModal.vue'

export default {
  name: 'App',
  components: {
    launcher,
    contentModal
  },
  data(){
    return {
      modalConfig: {},
      appData: {
        taxonomies: {},
        directory: {}
      }
    }
  },
  methods: {
    openModal(config) {
      this.modalConfig = config
      this.$refs.modal.resetContent()
    },
    switchModal(from) {
      if( from.mode == "map") {
        this.modalConfig.mode = "list"
      } else {
        this.modalConfig.mode = "map"
      }
    },
    getDocumentLanguage() {
      return document.documentElement.lang.split('-')[0]
    },
    updateLanguage(newLanguage) {
      var currentLanguage = this.$i18n.locale
      if(newLanguage && newLanguage != currentLanguage) {
        this.$i18n.locale = newLanguage
      }
    },
    getData(request_url) {
      this.axios.get(request_url).then((response) => {
        this.appData = response.data
      })
    }
  },
  mounted() {
    var documentLanguage = this.getDocumentLanguage()
    this.updateLanguage(documentLanguage)

    this.getData(process.env.VUE_APP_STATIC_DATA_URI)
  }
}
</script>

<style>
#gams-map {
  width: 100%;
}
</style>
